*{
  margin: 0;
}
.logo{
  font-family: "Monotype Corsiva",cursive;
  font-size: 3rem;
  background: linear-gradient(76.9deg, rgb(250, 52, 227) 27.2%, rgb(5, 201, 255) 79.9%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo:hover{
  background: linear-gradient(76.9deg, rgb(250, 52, 227) 27.2%, rgb(5, 201, 255) 79.9%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}