/* Full-screen carousel image styling */
/* .carousel-item {
    
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .carousel-caption h2 {
    font-size: 3rem; 
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
  }
  
  .carousel-caption button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  .carousel-caption button:hover {
    background-color: rgba(255, 255, 255, 1);
  } */
  
  .logo{
    font-family: "Monotype Corsiva",cursive;
    font-size: 3rem !important;
    background: linear-gradient(76.9deg, rgb(250, 52, 227) 27.2%, rgb(5, 201, 255) 79.9%) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
  }
  .drop{
    font-size: 1.3rem !important;

  }
  .navbar{
    background-color: aliceblue;
    
  }
  .logo:hover{
    background: linear-gradient(76.9deg, rgb(250, 52, 227) 27.2%, rgb(5, 201, 255) 79.9%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .nav1{
    margin-left:2rem ;
  }