

.heading{
    font-family: Poppins;
    width: fit-content;
    font-size: 3rem;
    margin: 0rem 0rem 2rem 5rem ;
    padding-top: 3rem;
    
}
.card{
    height: 20rem;
    background-color:aliceblue;
}
.scard{
    display: flex;
    justify-content: space-around;
}
.gschem{
    background: linear-gradient(51deg, #d2fffc -1%, #ffe9e2 101%);
    height: 100%;
    }

    

